/* Style main gameplay area */

#playArea
{
    background-color: #e3e0d8;
}

/* Style title area at top of screen */

.mainTitle
{
	/* Notable font (from Google Fonts) looks good, sans serif as backup */
	font-family: 'Notable', sans-serif;
}

/* Style buttons at bottom of screen */
/**/
.UI
{
	padding-top: 10px;
}